@media screen and (max-width: 1250px) {
    .header{
        padding: 3rem 4rem;
        .name{
            font-size: 3.5rem !important;
            .hero-title{
                font-size: 3.5rem !important;
            }
        }
        .hero-description{
            font-size: 1.8rem !important;
        }
    }

    .about{
        .about-grid{
            padding: 3rem 4rem;
            .left-about{
                p{
                    font-size: 1.8rem
                }
            }
        }
    }

    .blog{
        
        .blogs-content{
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            .blog-item{
                text-align: center;
                margin-bottom: 3rem;
                .btn{
                    margin: auto;
                }
            }
        }
    }
    .service-content{
        padding: 3rem 4rem;
    }
    .skill-set-content{
        padding: 3rem 4rem !important;
    }
    .hire-content{
        padding: 3rem 4rem;
    }

    .portfolio{
        padding: 3rem 4rem;
    }
    .contact-container{
        padding: 3rem 4rem;
    }
}


@media screen and (max-width: 1060px) {
    .about{
        .about-grid{
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
        
            .left-about{
                margin-bottom: 3rem;
                h3{
                   align-self: center;
                }
            }
        }
    }

    .header{
        .logo{
            .logo-text{
                font-size: 1.5rem
            } 
        }
        
        .name{
            font-size: 2rem !important;
            .hero-title{
                font-size: 2rem !important;
            }
        }
        .hero-description{
            font-size: 1.5rem !important;
        }
        .btn{
            font-size: 1rem;
        }
    }
   .hover-items{
        h3{
            font-size: 2rem !important;
        }
   }    
}
@media screen and (max-width: 900px) {
    // Control Stylings 
    .controls{  
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--secondary-color-1);
        padding: 1rem;
        width: 100%;
        .control{
            margin-left: 1.5rem;
            margin-bottom: 0;
        }
    }
    .header{
       
        .hero-section{
            grid-template-columns: 1fr;
            grid-gap: 4rem;
            justify-content: center;
            align-items: center;
            .left-hero-section{
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
        
        }
    }
    .name-title{
        font-size: 2.5rem !important;
    }
    .about{
        .about-grid{
            .left-about{
                h3{
                    font-size: 1.8rem;
                }
                p{
                    font-size: 1.125rem;
                }

            }
        }
    } 

    .service-content{
        padding: 2rem;
    }

    .service-item{
        padding: 1rem !important;
        h4{
            font-size: 1.125rem !important;
            font-weight: 600;
        }
        p{
            font-size: 1rem !important;
        }
    }
    
    .hire-content{
        grid-template-columns: 1fr;
        .left-content{
            h2{
                font-size: 2.5rem;

            }
            p{
                font-size: 1.125rem;
            }
        }
        .btn{
            margin-top: 4rem;
            padding: 1rem !important;
            font-size: 1.5rem !important;
        }
    }
    .portfolio{
        .portfolio-content{
            grid-template-columns: 1fr;
        }
    }

    .blogs-content{
        padding: 3rem 4rem;
    }

    .contact-content-con{
        flex-direction: column;

        .right-contact{
            margin-left: 0;
            order: -1;
            margin-bottom: 4rem;
            .i-c-2 {
                flex-direction: column;
                :last-child{
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
            .btn{
                margin: auto;
            }
        }
        .left-contact{
            h4{
                text-align: center;

            }
        }
    }
}
@media screen and (max-width: 700px) {
    .controls{
        .control{
            width: 60px !important;
            height: 60px !important;
        }
    }
    .about{
        .about-grid{
            padding: 1.5rem;
        }
    }
    .about-item{
        padding: 2rem !important;
    }
    .service-item{
        padding: 2rem !important;
    }
    .blog{
        padding: 1.5rem;
    }
    .skill-set-content{
        padding: 1.5rem !important;    
    }
    .service-content{
        padding: 1.5rem;
    }
    .hire-content{
        padding: 1.5rem;
    }

    .footer{
        .contact-icon{
            justify-content: center;
            margin-bottom: 1.5rem;
        }
    }
    .service-content{
        .service-grid{
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }
    }
}

@media screen and (max-width: 564px) {
    .header{
        padding: 2rem;
        .hero-text{
            .greeting{
                font-size: 1.5rem !important;
            }
            .name{
                font-size: 1.5rem;
                
            }
        }
        .hero-description{
            font-size: .9rem;
        }
        .btn{
            font-size: 1rem;
        }
    }   
    .about{
        .name-title{
            font-size: 2rem !important;
        }
    
    } 
}

@media screen and (max-width: 500px) {
    .about{
        .about-grid{
            .left-about{
                h3{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .skill-set-content{
        .bar-title{
            font-size: 1.5rem !important;
        }
        .skill-name{
            font-size: 1.125rem !important;
        }

    }
    .hire-content{
        .left-content{
            h2{
                font-size: 1.8rem;
            }
            p{
                font-size: 0.9rem !important;
            }
        }
    }
    .hover-items{
        h3{
            font-size: 1.5rem !important;
        }
   } 
}


@media screen and (max-width: 375px) {
    .header{
        padding: 1.5rem;
        .hero-text{
            .greeting{
                font-size: 1rem !important;
            }
            .name{
                font-size: 1rem;
                
            }
        }
        .hero-description{
            font-size: .5rem;
        }
        .btn{
            font-size: 1rem;
        }
    }    

    .controls{
        .control{
            width: 50px !important;
            height: 50px !important;
        }
    }
    .about .name-title {
        font-size: 1.8rem !important;
    }
    .about .about-grid .left-about h3 {
        font-size: 1.125rem;
    }
    .about .about-grid .left-about p {
        font-size: 1rem;
    }
    .skill-set-content{
        grid-template-columns: 1fr !important;
      
    }
    .hover-items{
        h3{
            font-size: 1rem !important;
        }
        .live_link a{
            font-size: 1rem !important;
        }
   } 
}