@media screen and (max-width: 1250px) {
    .header{
        padding: 3rem 4rem;
        .name{
            font-size: 3.5rem !important;
            .hero-title{
                font-size: 3.5rem !important;
            }
        }
        .hero-description{
            font-size: 1.8rem !important;
        }
    }

    .about{
        .about-grid{
            padding: 3rem 4rem;
            .left-about{
                p{
                    font-size: 1.8rem
                }
            }
        }
    }

    .blog{
        
        .blogs-content{
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            .blog-item{
                text-align: center;
                margin-bottom: 3rem;
                .btn{
                    margin: auto;
                }
            }
        }
    }
    .service-content{
        padding: 3rem 4rem;
    }
    .skill-set-content{
        padding: 3rem 4rem !important;
    }
    .hire-content{
        padding: 3rem 4rem;
    }

    .portfolio{
        padding: 3rem 4rem;
    }
    .contact-container{
        padding: 3rem 4rem;
    }
}


@media screen and (max-width: 1060px) {
    .about{
        .about-grid{
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
        
            .left-about{
                margin-bottom: 3rem;
                h3{
                   align-self: center;
                }
            }
        }
    }

    .service-content{
        .service-grid{
            grid-template-columns: 1fr;
            grid-gap: 3rem;
        }
    }
    
}
@media screen and (max-width: 900px) {
    // Control Stylings 
    .controls{  
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--secondary-color-1);
        padding: 1rem;
        width: 100%;
        .control{
            margin-left: 1.5rem;
            margin-bottom: 0;
        }
    }
    .header{
       
        .hero-section{
            grid-template-columns: 1fr;
            grid-gap: 4rem;
            justify-content: center;
            align-items: center;
            .left-hero-section{
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
        
        }
    }

    .skill-set-content{
        grid-template-columns: 1fr !important;
    }
    .hire-content{
        grid-template-columns: 1fr;

        .btn{
            margin-top: 4rem;
        }
    }
    .portfolio{
        .portfolio-content{
            grid-template-columns: 1fr;
        }
    }

    .blogs-content{
        padding: 3rem 4rem;
    }

    .contact-content-con{
        flex-direction: column;

        .right-contact{
            margin-left: 0;
            order: -1;
            margin-bottom: 4rem;
            .i-c-2 {
                flex-direction: column;
                :last-child{
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
            .btn{
                margin: auto;
            }
        }
        .left-contact{
            h4{
                text-align: center;

            }
        }
    }
}
@media screen and (max-width: 700px) {
    .hero-section{

    }
    .about{
        .about-grid{
            padding: 1.5rem;
        }
        .right-about{
            grid-template-columns: 1fr !important;
            justify-content: center;
            align-items: center;
        }
    }
    .about-item{
        padding: 2rem !important;
    }
    .service-item{
        padding: 2rem !important;
    }
    .blog{
        padding: 1.5rem;
    }
    .skill-set-content{
        padding: 1.5rem !important;    
    }
    .service-content{
        padding: 1.5rem;
    }
    .hire-content{
        padding: 1.5rem;
    }

    .footer{
        .contact-icon{
            justify-content: center;
            margin-bottom: 1.5rem;
        }
    }
}