/* Coolors Exported Palette - https://coolors.co/2b2a2f-27262b-2b2a2f-2e2d32-27262b-f79d51-2e2d32-2e2d32 */

/* CSS HEX */
--raisin-black: #2B2A2Fff;
--raisin-black-2: #27262Bff;
--raisin-black-3: #2B2A2Fff;
--raisin-black-4: #2E2D32ff;
--raisin-black-5: #27262Bff;
--sandy-brown: #F79D51ff;
--raisin-black-6: #2E2D32ff;
--raisin-black-7: #2E2D32ff;

/* CSS HSL */
--raisin-black: hsla(252, 6%, 17%, 1);
--raisin-black-2: hsla(252, 6%, 16%, 1);
--raisin-black-3: hsla(252, 6%, 17%, 1);
--raisin-black-4: hsla(252, 5%, 19%, 1);
--raisin-black-5: hsla(252, 6%, 16%, 1);
--sandy-brown: hsla(27, 91%, 64%, 1);
--raisin-black-6: hsla(252, 5%, 19%, 1);
--raisin-black-7: hsla(252, 5%, 19%, 1);

/* SCSS HEX */
$raisin-black: #2B2A2Fff;
$raisin-black-2: #27262Bff;
$raisin-black-3: #2B2A2Fff;
$raisin-black-4: #2E2D32ff;
$raisin-black-5: #27262Bff;
$sandy-brown: #F79D51ff;
$raisin-black-6: #2E2D32ff;
$raisin-black-7: #2E2D32ff;

/* SCSS HSL */
$raisin-black: hsla(252, 6%, 17%, 1);
$raisin-black-2: hsla(252, 6%, 16%, 1);
$raisin-black-3: hsla(252, 6%, 17%, 1);
$raisin-black-4: hsla(252, 5%, 19%, 1);
$raisin-black-5: hsla(252, 6%, 16%, 1);
$sandy-brown: hsla(27, 91%, 64%, 1);
$raisin-black-6: hsla(252, 5%, 19%, 1);
$raisin-black-7: hsla(252, 5%, 19%, 1);

/* SCSS RGB */
$raisin-black: rgba(43, 42, 47, 1);
$raisin-black-2: rgba(39, 38, 43, 1);
$raisin-black-3: rgba(43, 42, 47, 1);
$raisin-black-4: rgba(46, 45, 50, 1);
$raisin-black-5: rgba(39, 38, 43, 1);
$sandy-brown: rgba(247, 157, 81, 1);
$raisin-black-6: rgba(46, 45, 50, 1);
$raisin-black-7: rgba(46, 45, 50, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-right: linear-gradient(90deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-bottom: linear-gradient(180deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-left: linear-gradient(270deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-top-right: linear-gradient(45deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-bottom-right: linear-gradient(135deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-top-left: linear-gradient(225deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-bottom-left: linear-gradient(315deg, #2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);
$gradient-radial: radial-gradient(#2B2A2Fff, #27262Bff, #2B2A2Fff, #2E2D32ff, #27262Bff, #F79D51ff, #2E2D32ff, #2E2D32ff);