/* Coolors Exported Palette - https://coolors.co/f0f0f0-eb8631-bfbdbe-999da3-fafafa-e2e2e2-9aa0a5-eeeeee */

/* CSS HEX */
--cultured: #F0F0F0ff;
--cadmium-orange: #EB8631ff;
--gray-x-11-gray: #BFBDBEff;
--spanish-gray: #999DA3ff;
--white: #FAFAFAff;
--platinum: #E2E2E2ff;
--quick-silver: #9AA0A5ff;
--cultured-2: #EEEEEEff;

/* CSS HSL */
--cultured: hsla(0, 0%, 94%, 1);
--cadmium-orange: hsla(27, 82%, 56%, 1);
--gray-x-11-gray: hsla(330, 2%, 75%, 1);
--spanish-gray: hsla(216, 5%, 62%, 1);
--white: hsla(0, 0%, 98%, 1);
--platinum: hsla(0, 0%, 89%, 1);
--quick-silver: hsla(207, 6%, 63%, 1);
--cultured-2: hsla(0, 0%, 93%, 1);

/* SCSS HEX */
$cultured: #F0F0F0ff;
$cadmium-orange: #EB8631ff;
$gray-x-11-gray: #BFBDBEff;
$spanish-gray: #999DA3ff;
$white: #FAFAFAff;
$platinum: #E2E2E2ff;
$quick-silver: #9AA0A5ff;
$cultured-2: #EEEEEEff;

/* SCSS HSL */
$cultured: hsla(0, 0%, 94%, 1);
$cadmium-orange: hsla(27, 82%, 56%, 1);
$gray-x-11-gray: hsla(330, 2%, 75%, 1);
$spanish-gray: hsla(216, 5%, 62%, 1);
$white: hsla(0, 0%, 98%, 1);
$platinum: hsla(0, 0%, 89%, 1);
$quick-silver: hsla(207, 6%, 63%, 1);
$cultured-2: hsla(0, 0%, 93%, 1);

/* SCSS RGB */
$cultured: rgba(240, 240, 240, 1);
$cadmium-orange: rgba(235, 134, 49, 1);
$gray-x-11-gray: rgba(191, 189, 190, 1);
$spanish-gray: rgba(153, 157, 163, 1);
$white: rgba(250, 250, 250, 1);
$platinum: rgba(226, 226, 226, 1);
$quick-silver: rgba(154, 160, 165, 1);
$cultured-2: rgba(238, 238, 238, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-right: linear-gradient(90deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-bottom: linear-gradient(180deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-left: linear-gradient(270deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-top-right: linear-gradient(45deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-bottom-right: linear-gradient(135deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-top-left: linear-gradient(225deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-bottom-left: linear-gradient(315deg, #F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);
$gradient-radial: radial-gradient(#F0F0F0ff, #EB8631ff, #BFBDBEff, #999DA3ff, #FAFAFAff, #E2E2E2ff, #9AA0A5ff, #EEEEEEff);